<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ace Developpeur</title>
  <link rel="stylesheet" type="text/css" href="{% static 'AceDev/style.css' %}">

</head>

<body>
  <!-- ----------          <header>          ---------- -->
  <div class="header_container">
    <img class="logo" src="{% static 'AceDev/images/ace.png' %}">
    <nav>
      <div class="left">
        <ul>
          <li><a href="{% url 'AceDev:accueil' %}">Accueil</a></li>
          <li><a href="{% url 'AceDev:formulaire' %}">Créer une annonce</a></li>
          <li><a href="{% url 'AceDev:cvtheque' %}">Consulter des profils</a></li>
          <li><a href="{% url 'AceDev:accueilPro' %}">Site Professionnel -></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ----------          </header>         ---------- -->






  {% block contenue %}

<!-- ----------          <box-content>          ---------- -->

    <!-- petit bandeau (voir bootdejojo section AOS) ace developpeur "Site de mise en relation entre particulier & professionnel du dev ." -->
    

<!-- ----------          </box-content>         ---------- -->








  <!-- ----------          <subcategory_card>          ---------- -->

    
  <div class="content-wrapper">

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://images.pexels.com/photos/127513/pexels-photo-127513.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Envie d'un site web ?</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Parlez-nous de votre projet, poster une annonce ^^</p>
          <a href="{% url 'AceDev:formulaire' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://images.pexels.com/photos/631954/pexels-photo-631954.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Consulter les profils des nos développeur.</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Faite du lèche vitrine en regardent les réalisation de nos chers dev ;)</p>
          <a href="{% url 'AceDev:cvtheque' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Amazing Title</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;</p>
          <a href="{% url 'AceDev:accueilPro' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

  </div>



  <!-- ----------          </subcategory_cards>        ---------- -->


  {% endblock %}


  <ul class="prog">
    {% for event in event_list %}
    <li>
      <div class="content-wrapper">
        <div class="news-card">
          {% for group in event.group.all %}
          {% if group.pics_group %}
          <img class="news-card__image" src="{{ group.pics_group.url }}"><br>
          {% endif %}
          {% endfor %}
          <div class="news-card__text-wrapper">
            <h3 class="news-card__title">{{ event.name_event }}</h3><br>
            {% language 'fr' %}
            <div class="news-card__post-date">Du {{ event.begin_date|date:'d F Y' }} au {{ event.end_date|date:'d F Y' }}</div><br>
            {% endlanguage %}
            <div class="news-card__details-wrapper">
              <p class="news-card__excerpt">{{ event.description_event }}&hellip;</p>
              <div class="boutonIndex">
                <a href="{% url 'event:detail' event.id %}" class="fancy-btn">Informations/Réservations</a><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>










  <!-- ----------          <footer>          ---------- -->
  <footer class="footer-distributed">
    <div class="footer-left">
      <img class="logo" src="{% static 'AceDev/images/ace.png' %}">
      <p class="footer-links">
        <a href="{% url 'AceDev:accueil' %}" class="link-1">Accueil</a>
        <a href="{% url 'AceDev:formulaire' %}">Créer une Annonce</a>
        <a href="{% url 'AceDev:cvtheque' %}">Consulter des profils</a>
      </p>
      <p class="footer-company-name"> Ace Developpeur © 2021</p>
    </div>
    <div class="footer-center">
      <h2 class="title_footer">Coordonnées</h2>
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>11 avenue de l'Europe</span> Ramonville, Toulouse</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>01 23 45 67 89</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:acedevelopper@gmail.com">acedevelopper@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
      <h2 class="title_footer">A propos</h2>
      <img class="logo" src="{% static 'AceDev/images/blason_devops.png' %}">
      <p>Designed with all the love in the world with the help Mojo_Jojo©</p>
      </p>
      <div class="footer-icons">
        <a href="#"></i></a>
        <a href="https://fr.linkedin.com/in/david-esteban-123b93103?trk=people-guest_people_search-card"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/AceTBan/ProjetFilRouge"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>
  <!-- ----------          </footer>         ---------- -->
</body>

</html>









    <!--
        (wouaf)
    \\
    (o>
 \\_//)
  \_/_)
   _|_

-->