<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ace Developpeur</title>
  <link rel="stylesheet" type="text/css" href="{% static 'AceDev/style.css' %}">

</head>

<body>
  <!-- ----------          <header>          ---------- -->
  <div class="header_container">
    <img class="logo" src="{% static 'AceDev/images/ace.png' %}">
    <nav>
      <div class="right">
        <ul>
          <li><a href="{% url 'AceDev:accueil' %}">Accueil</a></li>
          <li><a href="{% url 'AceDev:formulaire' %}">Créer une annonce</a></li>
          <li><a href="{% url 'AceDev:cvtheque' %}">Consulter des profils</a></li>
          <li><a href="{% url 'AceDev:accueilPro' %}">Professionnel -></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ----------          </header>         ---------- -->






  {% block contenue %}

<!-- ----------          <box-content>          ---------- -->

    <!-- petit bandeau (voir bootdejojo section AOS) ace developpeur "Site de mise en relation entre particulier & professionnel du dev ." -->
    <div class="title_container">
      <h1>AceDeveloppeur</h1>
      <p>Site de mise en relation entre particulier & professionnel du dev .</p>
 
  </div>

  <div id="stripped">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
          <polyline points="0,154 131,0 0,348 269,0 0,562 437,0 
          0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830"/>
      </svg>
  </div>


<!-- ----------          </box-content>         ---------- -->








  <!-- ----------          <subcategory_card>          ---------- -->

    
  <div class="content-wrapper">

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="{% static 'AceDev/images/4.jpg' %}" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Envie d'un site web ?</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Parlez-nous de votre projet, poster une annonce ^^</p>
          <a href="{% url 'AceDev:formulaire' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="{% static 'AceDev/images/5.png' %}" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Consulter les profils des nos développeur.</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Faite du lèche vitrine en regardent les réalisation de nos chers dev ;)</p>
          <a href="{% url 'AceDev:cvtheque' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="{% static 'AceDev/images/6.jpg' %}" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Créer votre compte & devenez prestataire.</h2>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Professionnelle ou freelance vos compétences peuvent rendre bien des services .</p>
          <a href="{% url 'AceDev:accueilPro' %}" class="news-card__read-more">—>c'est ici<— <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

  </div>



  <!-- ----------          </subcategory_cards>        ---------- -->


  {% endblock %}


  








  <!-- ----------          <footer>          ---------- -->
  <footer class="footer-distributed">
    <div class="footer-left">
      <img class="logo" src="{% static 'AceDev/images/ace.png' %}">
      <p class="footer-links">
        <a href="{% url 'AceDev:accueil' %}" class="link-1">Accueil</a>
        <a href="{% url 'AceDev:formulaire' %}">Créer une Annonce</a>
        <a href="{% url 'AceDev:cvtheque' %}">Consulter des profils</a>
      </p>
      <p class="footer-company-name"> Ace Developpeur © 2021</p>
    </div>
    <div class="footer-center">
      <h2 class="title_footer">Coordonnées</h2>
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>11 avenue de l'Europe</span> Ramonville, Toulouse</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>01 23 45 67 89</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:acedevelopper@gmail.com">acedevelopper@gmail.com</a></p>
      </div>
    </div>
    <div class="footer-right">
      <p class="footer-company-about">
      <h2 class="title_footer">A propos</h2>
      <img class="logo" src="{% static 'AceDev/images/blason_devops.png' %}">
      </p>
      <!-- <div class="footer-icons">
        <a href="#"></i></a>
        <a href="https://fr.linkedin.com/in/david-esteban-123b93103?trk=people-guest_people_search-card"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/AceTBan/ProjetFilRouge"><i class="fa fa-github"></i></a>
      </div> -->
    </div>
  </footer>
  <!-- ----------          </footer>         ---------- -->
</body>

</html>









    <!--
        (wouaf)
    \\
    (o>
 \\_//)
  \_/_)
   _|_

-->