<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ace liste d’offre</title>
  <link rel="stylesheet" href="acePageAccueil.css">
</head>

<body>
  <header>
    <div class="logo">
      <a href="acePageAccueil.html">
        <img class="logo" src="{% static 'AceDev/images/ace.png' %}">
      </a>
    </div>
    <br>
    <h1>Développeur</h1>

    <br>
    <h3>Site de mise en relation entre particulier & professionnel du dev .</h3>
    </a>
    </div>
  </header>










  <footer></footer>
</body>

</html>
