{% extends 'AceDev/accueil.html' %}
{% load static %}

{% block contenue %}



<div class="contact-us">
  <form action="#">
    <label for="customerName">NOM <em>&#x2a;</em></label><input id="customerName" name="customerName" required="" type="text" />
    <label for="customerFirstName">PRENOM <em>&#x2a;</em></label><input id="customerFirstName" name="customerFirstName" required="" type="text" />
    <label for="customerEmail">MAIL <em>&#x2a;</em></label><input id="customerEmail" name="customerEmail" required="" type="email" />
    <label for="customerPhone">N°Tel</label><input id="customerPhone" name="customerPhone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" />
    <label for="customerTypeProject">TYPE DE PROJET <em>&#x2a;</em></label><input id="customerTypeProject" name="customerTypeProject" required="" type="text" />
    <label for="customerNote">VOTRE MESSAGE <em>&#x2a;</em></label><textarea id="customerNote" name="customerNote" required="" rows="4"></textarea>
    <h3>
      Veuillez fournir toutes les informations que vous pouvez concernant votre demande . </h3>
      <button id="customerOrder">Envoyer</button>
  </form>
</div>





{% endblock %}