{% extends 'AceDev/accueilPro.html' %}
{% load static %}

{% block contenue %}





<div class="contact-us">
    <form action="#">
        <label for="customerTypeProject">TYPE DE PROJET <em>&#x2a;</em></label><input id="customerTypeProject" name="customerTypeProject" required="" type="text" />
        <label for="customerNote">VOTRE MESSAGE <em>&#x2a;</em></label><textarea id="customerNote" name="customerNote" required="" rows="4"></textarea>
      <h3>
        Veuillez fournir toutes les informations que vous pouvez concernant votre service . </h3>
        <button id="customerOrder">Envoyer</button>
    </form>
  </div>



{% endblock %}